
<div class="container search-panel">
  <div class="form-group col-sm-6 col-sm-offset-2">
    <h1>BootTracker</h1>
    <div class="search-tools">
      <div class="filters">
        <div class="filter">
          <label>Cohorts</label>
          <div class="labels">
            <ol>
              <li>
                <input id="nyc-dragonflies" type="checkbox" class="check">
                <label for="nyc-dragonflies">2015 NYC Dragonflies</label>
              </li><li>
                <input id="nyc-bumblebees" type="checkbox" class="check">
                <label for="nyc-bumblebees">2015 NYC Bumblebees</label>
              </li>
              <li>
                <input id="nyc-fiery-skippers" type="checkbox" class="check">
                <label for="nyc-fiery-skippers">2015 NYC Fiery Skippers</label>
              </li>
              <li>
                <input id="nyc-pocket-gophers" type="checkbox" class="check">
                <label for="nyc-pocket-gophers">2015 NYC Pocket Gophers</label>
              </li>
             <li>
                <input id="chicago-dragonflies" type="checkbox" class="check">
                <label for="chicago-dragonflies">2015 Chicago Dragonflies</label>
              </li>
             <li>
                <input id="sanfran-dragonflies" type="checkbox" class="check">
                <label for="sanfran-dragonflies">2015 San Francisco Dragonflies</label>
              </li>
            </ol>
          </div>
        </div>

      </div>
    </div><br/>

    <button class="btn btn-lg btn-primary">Find most recent repos</button>
  </div>
</div>
<hr/>
<div class="container display-panel"></div>
